<%= form_for(@medicine) do |f| %>
  <% if @medicine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medicine.errors.count, "error") %> prohibited this medicine from being saved:</h2>

      <ul>
      <% @medicine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :code_for_placing_order %><br />
    <%= f.text_field :code_for_placing_order %>
  </div>
  <div class="field">
    <%= f.label :ordered_qty %><br />
    <%= f.number_field :ordered_qty %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
