<h1><a href='/admin/medicines'>Listing medicines</a></h1>

<div class='action-bar'>
  <div class='message-block'></div>
  <a href="#/new">New Med</a>
  <a href="#/">List Meds</a>
</div>

</br>
<div data-ng-view=""></div>

</br>
</br>

<script type='text/ng-template' id='list-med.html'>
  <table>
    <tr>
      <th class='name'>Name</th>
      <th>Code for placing order</th>
      <th>Ordered qty</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr data-ng-repeat="med in meds">
      <td>{{med.name}}</td>
      <td>{{med.code_for_placing_order}}</td>
      <td>{{med.ordered_qty}}</td>
      <td><a href='#/show/{{med.id}}'>Show</a></td>
      <td><a href='#/edit/{{med.id}}'>Edit</a></td>
      <td data-ng-click='deleteMed(med.id, $index)'>Destroy</td>
    </tr>
  </table>
</script>

<script type='text/ng-template' id='new-med.html'>
  <h2>{{title}} Med</h2>

  <form name='medForm' data-ng-submit='medSubmit()'>
    <div class="field">
      <label for="medicine_name">Name</label><br>
      <input id="medicine_name" name="medicine[name]" data-ng-model='med.name' size="30" type="text" required>
    </div>
    <div class="field">
      <label for="medicine_code_for_placing_order">Code for placing order</label><br>
      <input id="medicine_code_for_placing_order" name="medicine[code_for_placing_order]" size="30" type="text" data-ng-model='med.code_for_placing_order' required>
    </div>
    <div class="field">
      <label for="medicine_ordered_qty">Ordered qty</label><br>
      <input id="medicine_ordered_qty" name="medicine[ordered_qty]" type="number" 
      data-ng-model='med.ordered_qty' value="0" required>
    </div>
    <div class="actions">
      <input type="submit" value="Save">
    </div>
  </form>
</script>

<script type='text/ng-template' id='show-med.html'>
  <h2>Med Detail</h2>
  <div >
        <div><span class='lineup'>ID</span>: {{med.id}}</div>
        <div><span class='lineup'>Name</span>: {{med.name}}</div>
        <div><span class='lineup'>Code</span>: {{med.code_for_placing_order}}</div>
        <div><span class='lineup'>Qty</span>: {{med.ordered_qty}}</div>
  </div>
</script>

