<h1>Inventory</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @medicines.each do |medicine| %>
  <tr>
    <td><%= medicine.name %></td>
    <td>
      <%= form_tag order_path, {:method => :put} do %>
      <%= hidden_field_tag(:code_for_placing_order, medicine.code_for_placing_order) %>
      <%= button_tag "Order" %>
      <% end %>

    </td>
  </tr>
<% end %>
</table>

<br />
