<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @medicine.name %>
</p>

<p>
  <b>Code for placing order:</b>
  <%= @medicine.code_for_placing_order %>
</p>

<p>
  <b>Ordered qty:</b>
  <%= @medicine.ordered_qty %>
</p>


<%= link_to 'Edit', edit_medicine_path(@medicine) %> |
<%= link_to 'Back', medicines_path %>
