// Place all the styles related to the Medicines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lineup{
	display: inline-block;
	width:60px;
}
.action-bar {
	padding:5px;
	width: 600px;
	outline: 1px solid #cecece;
}
.message-block {
	float:right;
}

table {
	width:600px;
}

table th.name {
	width:150px;
}